img {
    max-height:300px;
}
h1 {
    display:flex;
    border:9px dotted green;
    justify-content:space-between;
    background-color:purple;
    text-align:center;
}
body {
    background-color:tan;
    background: url("https://media.giphy.com/media/Ta1MVGKCG2GFq/giphy.gif");
}
p {display:flex;
    border:9px dotted green;
    justify-content:space-between;
    background-color:purple;
    width:20%;
}
